name: drizzle

services:
  init:
    image: harbor.marcmarina.com/library/drizzle
    command: yarn drizzle-kit migrate
    env_file:
      - .env
    networks:
      - databases

  app:
    image: harbor.marcmarina.com/library/drizzle
    command: node .
    tty: true
    stdin_open: true
    env_file:
      - .env
    depends_on:
      init:
        condition: service_completed_successfully
    networks:
      - traefik
    deploy:
      labels:
        - "traefik.swarm.network=traefik"
        - "traefik.enable=true"
        - "traefik.http.routers.drizzle.rule=Host(`drizzle.backend.marcmarina.com`)"
        - "traefik.http.routers.drizzle.entrypoints=web"
        - "traefik.http.services.drizzle.loadbalancer.server.port=8081"

networks:
  traefik:
    external: true
